$theme-main: #a40001;
$theme-yellow: #ffb005;
$theme-white: #ffffff;

$back-black: #191919;
$back-red: #a40001;
$back-white: #ffffff;
$back-clearGreen: #f2f2f2;

$font-color-black: #666666;
$font-color-red: #a40001;
$font-color-clearBlack: #333333;
$font-color-gray: #999999;
$font-color-pink: #9d8c92;